@model Microsoft.Teams.Apps.FAQPlusPlus.Configuration.Models.SaveConversationsViewModel

@using (Ajax.BeginForm("SaveSaveConversationsTextAsync", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSaveSuccess", OnFailure = "onSaveFailure" }, htmlAttributes: new { @class = "formToSubmit" }))
{
    <div class="form-group" data-form-name="saveConversationsText">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.SaveConversationsText, htmlAttributes: new { @class = "font-bold" })
        </div>
        <div class="col-lg-5">
            @Html.CheckBoxFor(model => model.SaveConversationsText, htmlAttributes: new { @checked = "@model.SaveConversationsText", @class = "form-control saveConversationsTextIdTextBox toggleTextBox" })
            @Html.ValidationMessageFor(model => model.SaveConversationsText, "", htmlAttributes: new { @class = "error-message" })
        </div>
        <div class="col-lg-1">
            <span id="saveConversationsTextStorageStatusIcon"></span>
        </div>
        <div class="col-lg-3">
            <input type="button" value="OK" class="btn btn-primary toggleToEditButton" id="saveConversationsTextSubmitButton" />
            <span class="glyphicon glyphicon-info-sign infoSignMargin" data-toggle="tooltip" title="@Strings.SaveConversationsTextToolTipHoverMessage"></span>
        </div>
        <div class="col-lg-offset-3 col-lg-5">
            <div id="saveConversationsTextStorageStatusMessage" class="error-message"></div>
        </div>
    </div>
}